{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">
      <img class="custom-image" src={{asset('media/logo.jpg')}}>
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/product">Boutique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/login">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main>

    <div class="h1-productd">
      <h1>Leçon</h1>

    <div>
    
    



    <div class="cart-productd">
    <div class="card" style="width: 80rem;">
      <div class="card-header">
        <h2 class="h2-productd">{{ product.name }}</h2>
      </div>
      <div class="card-body">
        <h5 class="h5-productd">Cours</h5>
        <p class="p-productd">{{ product.content }}</p>
        
        <div class=image-product >
            <img src="{{ vich_uploader_asset(product, 'attachmentFile') }}" class="card-img-top" alt="...">
        </div>
       
       <div class="btn-productd">
        <a href="{{ path('lesson_validate', {'id': product.id}) }}" class="btn btn-primary" id="btn-productd">Valider</a>
      </div>

      </div>
    </div>
    </div>

      
</main>


<footer>
    <div>
        <p class="p-footer">Nom de la société : Knowledge</p>
        <p class="p-footer">Adresse : 76 rue de Paris, 75011 PARIS, France</p>
        <p class="p-footer">Téléphone: 01 46 75 33 99 77</p>
        <p class="p-footer">Adresse de contact : nowledge@blabla.com</p>
    </div>
</footer>




{% endblock %}