{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">
      <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/register">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/login">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/product">Boutique</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main>
    <div>
        <h1>Boutique</h1>
    </div>

    



  <div >
    <div class="cart-boutique">
    <div class="card" style="width: 80rem;">
      <div class="card-header">
        <div>
        {% for category in categorys %}
          <h2>{{ category.name }}</h2>  
        {% endfor %}
        </div>
      </div>
      <div class="card-body">
        {% for cursusC in cursusCs %}
        <h4 class="card-title"> {{ cursusC.name }}</h4>
        <p class="card-text">Prix: {{ (cursusC.price / 100)|number_format(2,) }} €</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        {% endfor %}
        <div class="card-cursus">


          <div class="card" style="width: 20rem;">
            {% for lessonsC in lessonsCs %}
            <div class="card-header">
              <h5>Leçon n°1:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsC.name }}</h6>
              <p>Prix:  {{ (lessonsC.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



          <div class="card" style="width: 20rem;">
            {% for lessonsCsguitatre in lessonsCsguitatres %}
            <div class="card-header">
              <h5>Leçon n°2:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsCsguitatre.name }}</h6>
              <p>Prix:  {{ (lessonsCsguitatre.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



        </div>
      </div>
      <div class="card-body">
        {% for cursusCspiano in cursusCspianos %}
        <h4 class="card-title"> {{ cursusCspiano.name }}</h4>
        <p class="card-text">Prix: {{ (cursusCspiano.price / 100)|number_format(2,) }} €</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        {% endfor %}
        
        <div class="card-cursus">


          <div class="card" style="width: 20rem;">
            {% for lessonsCspianosI in lessonsCspianosIs %}
            <div class="card-header">
              <h5>Leçon n°1:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsCspianosI.name }}</h6>
              <p>Prix:  {{ (lessonsCspianosI.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



          <div class="card" style="width: 20rem;">
            {% for lessonsCspianosG in lessonsCspianosGs %}
            <div class="card-header">
              <h5>Leçon n°2:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsCspianosG.name }}</h6>
              <p>Prix:  {{ (lessonsCspianosG.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



        </div>

      </div>
    </div>
    </div>


    <div class="cart-boutique">
    <div class="card" style="width: 80rem;">
      <div class="card-header">
        <div>
        {% for categoryInfo in categoryInfos %}
          <h2>{{ categoryInfo.name }}</h2>  
        {% endfor %}
        </div>
      </div>
      <div class="card-body">
        {% for cursusCsInfo in cursusCsInfos %}
        <h4 class="card-title"> {{ cursusCsInfo.name }}</h4>
        <p class="card-text">Prix: {{ (cursusCsInfo.price / 100)|number_format(2,) }} €</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        {% endfor %}

        <div class="card-cursus">


          <div class="card" style="width: 20rem;">
            {% for lessonsCsinfosI in lessonsCsinfosIs %}
            <div class="card-header">
              <h5>Leçon n°1:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsCsinfosI.name }}</h6>
              <p>Prix:  {{ (lessonsCsinfosI.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



          <div class="card" style="width: 20rem;">
            {% for lessonsCsinfosD in lessonsCsinfosDs %}
            <div class="card-header">
              <h5>Leçon n°2:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsCsinfosD.name }}</h6>
              <p>Prix:  {{ (lessonsCsinfosD.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



        </div>


      </div>
    </div>
    </div>



    <div class="cart-boutique">
    <div class="card" style="width: 80rem;">
      <div class="card-header">
        <div>
        {% for categoryJard in categoryJards %}
          <h2>{{ categoryJard.name }}</h2>  
        {% endfor %}
        </div>
      </div>
      <div class="card-body">
        {% for cursusJard in cursusJards %}
         <h4 class="card-title"> {{ cursusJard.name }}</h4>
         <p class="card-text">Prix: {{ (cursusJard.price / 100)|number_format(2,) }} €</p>
         <a href="#" class="btn btn-primary">Go somewhere</a>
        {% endfor %}
        <div class="card-cursus">


          <div class="card" style="width: 20rem;">
            {% for lessonsJardO in lessonsJardOs %}
            <div class="card-header">
              <h5>Leçon n°1:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsJardO.name }}</h6>
              <p>Prix:  {{ (lessonsJardO.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



          <div class="card" style="width: 20rem;">
            {% for lessonsJardL in lessonsJardLs %}
            <div class="card-header">
              <h5>Leçon n°2:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsJardL.name }}</h6>
              <p>Prix:  {{ (lessonsJardL.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



        </div>


      </div>
    </div>
    </div>



  <div class="cart-boutique">
  <div class="card" style="width: 80rem;">
      <div class="card-header">
        <div>
        {% for categoryCui in categoryCuis %}
          <h2>{{ categoryCui.name }}</h2>  
        {% endfor %}
        </div>
      </div>
      <div class="card-body">
        {% for cursusCuiI in cursusCuiIs %}
         <h4 class="card-title"> {{ cursusCuiI.name }}</h4>
         <p class="card-text">Prix: {{ (cursusCuiI.price / 100)|number_format(2,) }} €</p>
         <a href="#" class="btn btn-primary">Go somewhere</a>
        {% endfor %}
        <div class="card-cursus">


          <div class="card" style="width: 20rem;">
            {% for lessonsCuiM in lessonsCuiMs %}
            <div class="card-header">
              <h5>Leçon n°1:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsCuiM.name }}</h6>
              <p>Prix:  {{ (lessonsCuiM.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



          <div class="card" style="width: 20rem;">
            {% for lessonsCuiS in lessonsCuiSs %}
            <div class="card-header">
              <h5>Leçon n°2:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsCuiS.name }}</h6>
              <p>Prix:  {{ (lessonsCuiS.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



        </div>
      </div>
      <div class="card-body">
        {% for cursusCuiIA in cursusCuiIAs %}
         <h4 class="card-title"> {{ cursusCuiIA.name }}</h4>
         <p class="card-text">Prix: {{ (cursusCuiIA.price / 100)|number_format(2,) }} €</p>
         <a href="#" class="btn btn-primary">Go somewhere</a>
        {% endfor %}
        
        <div class="card-cursus">


          <div class="card" style="width: 20rem;">
            {% for lessonsCuiO in lessonsCuiOs %}
            <div class="card-header">
              <h5>Leçon n°1:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsCuiO.name }}</h6>
              <p>Prix:  {{ (lessonsCuiO.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



          <div class="card" style="width: 20rem;">
            {% for lessonsCuiH in lessonsCuiHs %}
            <div class="card-header">
              <h5>Leçon n°2:</h5>
            </div>
            <div class="card-body">
              <h6>{{lessonsCuiH.name }}</h6>
              <p>Prix:  {{ (lessonsCuiH.price / 100)|number_format(2,) }} €</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {% endfor %}
          </div>



        </div>

      </div>
    </div>
    </div>




    
  </div>






</main>



{% endblock %}
