{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">
      <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/register">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/login">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/product">Boutique</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main>
    <div>
        <h1>Boutique</h1>
    </div>

    <div>
        <div>
            <div>

                {% for category in categorys %}

                <h2>Catégorie</h2>
                <p>Nom : {{ category.name }}</p>

                {% endfor %}

            </div>
            <div>

                {% for cursusC in cursusCs %}

                <h2>Cursus</h2>
                <p>Nom: {{ cursusC.name }} </p>
                <p>prix: {{ cursusC.price }} €</p>

                {% endfor %}

            </div>
            <div>

                {% for lessonsC in lessonsCs %}

                <h2>Leçon</h2>
                <p>Nom: {{lessonsC.name }} </p>
                <p>prix: {{ lessonsC.content }}</p>
                <p>Video: {{lessonsC.attachment}} </p>
                <p>prix:  {{ lessonsC.price }} €</p>

                {% endfor %}

            </div>

        </div>

        
    </div>

</main>



{% endblock %}
