{% extends 'base.html.twig' %}

{% block title %}validations{% endblock %}

{% block body %}



<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">
      <img class="custom-image" src={{asset('media/logo.jpg')}}>
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/product">Boutique</a>
        </li>
        
        
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/cart">Panier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://127.0.0.1:8000/validation">Validation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/login">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <div>
    <h1 class="h1-vali">Récapitulatif des Cursus et des Leçons<h1>
  </div>

  <div class="val-lesson">

    <h2 class="h2-vali">Leçons valider</h2>
    <ul class="ul-vali">
        {% for lesson in lessons %}
            <li>
                {{ lesson.name }} 
                <span class="{{ lesson.isValidated ? 'validated' : 'not-validated' }}">
                    {{ lesson.isValidated ? '✔️ Validée' : '❌ Non validée' }}
                </span>
            </li>
        {% endfor %}
    </ul>

  </div>



  <div class="val-lesson">

    <h2 class="h2-vali">Cursus valider</h2>
    <ul class="ul-vali">
      {% for cursus in cursuses %}
        <li>{{ cursus.name }} - {{ cursus.isFullyValidated ? 'Validé' : 'Non validé' }}</li>
      {% endfor %}
    </ul>

  </div>


  

</main>



<footer>
    <div>
        <p class="p-footer">Nom de la société : Knowledge</p>
        <p class="p-footer">Adresse : 76 rue de Paris, 75011 PARIS, France</p>
        <p class="p-footer">Téléphone: 01 46 75 33 99 77</p>
        <p class="p-footer">Adresse de contact : nowledge@blabla.com</p>
    </div>
</footer>


{% endblock %}
